body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 30px;

  font-weight: bold;
}

.move-img {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  cursor: pointer;
  margin-right: 20px;
}

.reset-btn,
.auto-play-btn {
  background-color: white;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
}

.result {
  font-size: 20px;
  font-weight: bold;
}

.score {
  margin-top: 60px;
}
